@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.mat-dialog-container {
    padding: 0px !important;
    margin: 0px !important;
}